{% extends "base.html" %}
{% block title %}Kiwi - {{ app_name }}{% endblock %}
{% block body %}

<h3>Application Path:</h3>
<ul class="breadcrumbs">
  <li>
    <a href="/ui/app/{{ app_name }}/">{{ app_name }}</a>
  </li>
</ul>
<div id="addVar" class="reveal-modal" data-reveal>
  <h2>Add Namespace Variable</h2>
  <br>
  <br>
  <form onsubmit="add_namespace('{{ app_name }}'); return false;">
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="newVar" class="right inline">Namespace Name:</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="newVar" placeholder="e.g prod, mgmt">
          </div>
        </div>
      </div>
      <input type="submit" class="button tiny round" value="Submit">
    </div>
  </form><a class="close-reveal-modal">&#215;</a>
</div>

<div id="removeVar" class="reveal-modal" data-reveal>
  <h2>Remove Namespace Variable</h2>
  <br>
  <br>
  <form onsubmit="remove_namespace('{{ app_name }}'); return false;">
    <div class="row">
      <div class="small-8">
        <div class="row">
          <div class="small-3 columns">
            <label for="deleteNamespace" class="right inline">Namespace:</label>
          </div>
          <div class="small-9 columns">
            <select id="deleteNamespace">
	      {% for namespace in namespaces %}
              <option value="{{ namespace }}">{{ namespace }}</option>
	      {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <input type="submit" class="button tiny round" value="Submit">
    </div>
  </form><a class="close-reveal-modal">&#215;</a>
</div>

<div id="addInstanceLink" class="reveal-modal" data-reveal>
  <h2>Apply Instance Link</h2>
  <br>
  <br>
  <form onsubmit="link_instance(); return false;">
    <div class="row">
      <div class="small-9">
        <div class="row">
          <div class="small-3 columns">
            <label for="instanceSelector" class="right inline">Application Instances:</label>
          </div>
          <div class="small-8 columns">
            <select id="instanceSelector">
	      {% for instance in instances %}
	      <option value="{{ instance.hostname }}">{{ instance.hostname }}</option>
	      {% endfor %}
            </select>
          </div>
          <div class="small-1 columns"></div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label for="newLink" class="right inline">Namespace List:</label>
          </div>
          <div class="small-8 columns">
            <input type="text" id="newLink" placeholder="e.g prod/NYM2" readonly>
          </div>
          <div class="small-1 columns">
            <a href="#" onclick="reset_apply_instance('{{ app_name }}')">
              <img src="/imgs/close.png" height="40" width="40">
            </a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <label>Namespace(s):</label>
          <div id="namespaceBtns">
	    {% for namespace in namespaces %}
	    <a id="{{ namespace }}_btn" href="#" class="tiny round success button" onclick="update_apply_link('{{ app_name }}','{{ namespace }}')">{{ namespace }}</a>
	    {% endfor %}
          </div>
        </div>
        <div class="small-6 columns">
          <label>Namespace Values:</label>
          <table id="instanceTable">
            <thead>
              <tr>
                <th>Key</th>
                <th>Value</th>
                <th>Namespace</th>
                <th>Updated</th>
              </tr>
            </thead>
            <tbody id="instanceTableBody">
	    </tbody>
          </table>
        </div>
      </div>
      <input type="submit" class="button tiny round" value="Submit">
    </div>
  </form><a class="close-reveal-modal">&#215;</a>
</div>

<br/>
<br/>

<div class="row">
  <div class="large-6 columns">
    <h4>Application Namespaces:</h4>
    {% for namespace in namespaces %}
    <a href="/ui/app/{{ app_name }}/{{ namespace }}" style="margin-left: 32px">{{ namespace }}</a>
    {% endfor %}
    <br>
  </div>
  <div class="large-6 columns">
    <h4>Application Instances:</h4>
    <table>
      <thead>
        <tr>
          <th>Instance</th>
          <th>Namespace List</th>
      </thead>
      <tbody>

	{% for instance in instances %}
	<tr>
          <td>{{ instance.hostname }}</td>
          <td>
	    <a href="/ui/app/{{app_name }}/{{ namespace }}" style="margin-left: 32px">{{ namespace }}</a>
          </td>
        </tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <br>
  <br>
  <div class="large-6 columns">
    <ul class="button-group round">
      <li><a href="#" data-reveal-id="addVar" class="tiny success button">Add Namespace</a>
      </li>
      <li><a href="#" data-reveal-id="removeVar" class="tiny alert button">Remove Namespace</a>
      </li>
    </ul>
  </div>
  <div class="large-6 columns"><a href="#" data-reveal-id="addInstanceLink" class="tiny success round button">Apply Namespace List</a>
  </div>
</div>

{% endblock %}
