<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="/css/foundation.min.css">
        <script type="text/javascript" src="/js/modernizr.js"></script>
    </head>
    <body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script type="text/javascript">$(document).foundation();</script>
    <script type="text/javascript" src="/js/party.js"></script>
    </body>
</html>
